// THE FONTS
/* general site police */
@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

/* font for headlines */
@font-face {
    font-family: 'oswald';
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'pt';
    src: url(../fonts/PTSans-Regular.ttf);
}