// THE FONTS
/* general site police */
@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

/* font for headlines */
@font-face {
    font-family: '';
    src: url();
}